.cabeca{
    background-color: rgb(187, 194, 201);
    padding: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid;
}
.amarelo{
    background: repeating-linear-gradient(
  45deg,
  #fffb00,
  #fbff00 10px,
  #ffee00 10px,
  #eecc0a 20px);
padding: 10px;
border: solid;
}
.esquerda{
  padding: 250px;
  background-color: rgb(209, 207, 203);
  border: solid;
  
  
}

.flex{
  display: flex;
}

.meio{
  background-color: rgb(187, 194, 201);
  padding-right: 1400px ;
  border: solid;
}
.save{
  background-color: rgb(187, 194, 201);
  padding: 15px;
  border: solid;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


